li {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}

svg {
    margin-bottom: 3px;
}

main {
    margin-top: 290px;
}

header {
    position: fixed;
    background-color: white;
    top: 0px;
    width: 100%;
    box-shadow: 0px 5px 5px red;
    z-index: 1;
}

div.img-thumbnail {
    background-color: green;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: #76e0eb;
}

a:focus {
    background-color: #61bdc7;
}

li > a {
    padding: 5px
}

.carousel {
    animation-name: fade;
    animation-duration: 1s;
}

.border-dark {
    border: 1px solid black;
    margin: 5px;
}

.border-blue {
    border: 1px solid blue;
}

.custom-border {
    border-color: black;
    background-color: #333;
}

.insideCarousel {
    transition: all 1s linear;
    width: 100%;
    height: 450px;
    background-color: green;
}

#info {
    margin-bottom: 60px;
}

#search {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#sidebar {
    background-color: white;
    position: fixed;
    top: 190px;
    box-shadow: 10px 10px 10px red;
}

#dialogSearcher {
    animation-name: fade;
    animation-duration: 1s;
}

#dropdownMenuButton {
    background-color: white;
    color: black;
}

#sidebar, #sidebarButton {
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

::backdrop {
    animation-name: fade;
    animation-duration: 1s;
    background-color: rgba(0, 0, 0, 0.592);
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 100; }
}

@media screen and (max-width: 920px) {
    header {
        position: absolute;
        box-shadow: none;
    }

    #sidebar {
        top: 50px;
    }

    #sidebarButton {
        display: block;
        position: sticky !important;
        z-index: 1;
        top: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 5px 5px red;
    }

    #horzontalMenu {
        display: none;
    }

    #sidebar {
        position: fixed;
        top: 50px;
    }

    #images > div {
        display: flex;
        flex-wrap: wrap;
    }
}
